
@font-face {
	@include font-include('SF Pro Display', 400, swap, normal, 'SF-Pro-Display-Regular');
}

@font-face {
	@include font-include('SF Pro Display', 500, swap, normal, 'SF-Pro-Display-Medium');
}

@font-face {
	@include font-include('SF Pro Display', 600, swap, normal, 'SF-Pro-Display-Semibold');
}

@font-face {
	@include font-include('SF Pro Display', 700, swap, normal, 'SF-Pro-Display-Bold');
}

.main-title {
	font-family: var(--title-font);
	font-weight: 700;
	line-height: 133%;

	font-size: 2rem; // 32px
	&.is-min {
		font-size: 1.5rem; // 24px
	}
	&.is-large {
		font-size: 1.5rem; // 24px
	}

	mark {
		color: var(--accent);
		background: transparent;
	}

	@include _550 {
		font-size: 2.5rem; // 40px
		&.is-min {
			font-size: 2.5rem; // 40px
		}
		&.is-large {
			font-size: 3rem; // 48px
		}
	}

	@include _992 {
		font-size: 3.4375rem; // 55px
		&.is-min {
			font-size: 3rem; // 48px
		}
		&.is-large {
			font-size: 4rem; // 64px
		}
	}
}

.title {
	
	font-family: var(--title-font);
	font-weight: 700;

	font-size: 1.125rem;

	@include _768 {
		font-size: 1.5rem;
	}

	@include _992 {
		font-size: 1.875rem;
	}

}

.section-title {

	font-family: var(--title-font);
	font-weight: 600;
	line-height: 2.1875rem;
	text-align: center;

	&:has(b) {
		font-weight: 400;
		b {
			font-weight: 600;
		}
	}

	&.is-light {
		color: var(--white);
	}

	&.is-large {
		font-weight: 700;
	}

	font-size: 1.5rem; // 24px

	@include _550 {
		font-size: 1.875rem; // 30px
		&.is-large {
			font-size: 2.25rem; // 36px
		}
	}
	
	@include _992 {
		font-size: 2.25rem; // 36px
		line-height: 3.4375rem;

		&.is-large {
			font-size: 2.5rem; // 40px
			line-height: 3.375rem;
		}
	}

}

.text {
	font-size: 1rem;
	line-height: 150%;

	@include _992 {
		font-size: 1.25rem;
	}

	p {
		padding-top: 1rem;
	}
}

.content_block {
	h2 {
		font-weight: 600;
		
		font-size: 1.5rem;
		line-height: 142%;

		@include _992 {
			font-size: 2.25rem;
			line-height: 153%;
		}
	}

	h3 {
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 153%;
	}

	&.is-mode-2 h3 {
		font-size: 1rem;
		@include _550 {
			font-size: 1.25rem;
		}
	}

	&.is-mode-2 p {
		@include _992 {
			margin-right: 0;
		}
	}

	p {
		padding-top: 0.75rem;

		font-size: 0.875rem;
		line-height: 164.285714%;
		color: var(--text-color-3);

		@include _992 {
			font-size: 1rem;
			line-height: 194%;
			margin-right: -2rem;
		}
	}

	ul {
		padding-top: 0.8125rem;

		li {
			&:not(:first-child) {
				margin-top: 0.625rem;
			}

			display: flex;
			gap: 0.6875rem;

			font-size: 0.875rem;
			line-height: 164.285714%;
			color: var(--text-color-3);

			@include _992 {
				font-size: 1rem;
				line-height: 194%;
			}

			svg {
				color: var(--accent);
				margin-top: 0.3ch;
			}
		}
	}
}
