@use 'sass:math';

:root {
	--title-font: 'SF Pro Display', sans-serif;
	--main-font: 'SF Pro Display', sans-serif;
	
	--accent: #2D6AFF;
	--accent-hover: #4377fb;
	--accent-active: #1e5cfa;

	--white: #FFF;
	--text-color: #000;
	--text-color-2: #232323;
	--text-color-3: #828282;
	--text-color-4: #130F35;
	--secondary: #A9A9A9;
	--secondary-2: #D2D2D2;

	--cancel-color: #C54E1B;
	--success-color: #2D6AFF;

	--container-padding: 1.25rem;
}

html {

	font-size: 16px;

	@include _992 {
		font-size: 1vw;
	}

	@media (min-width: 1200px) {
		font-size: 0.8vw;
	}

	@media (min-width: 1500px) {
		font-size: 0.833333vw;
	}

	@media (min-width: 1920px) {
		font-size: 16px;
	}

	min-height: 100%;
	min-width: 320px;
}

body {

	min-height: 100%;
	min-width: 320px;

	font-family: var(--main-font);
	font-weight: 400;
	line-height: 150%;

	font-size: 1rem;

	display: flex;
	flex-direction: column;

	&.is-mobile-menu-active {
		overflow: hidden;
	}
	
}

.image-aspect-ratio {
	width: 100%; height: auto;
	@supports (aspect-ratio: 1) {
		aspect-ratio: var(--aspect-ratio);
	}
}

section {
	position: relative;
	z-index: 2;

	&:last-child {
		padding-bottom: 4.1875rem;
		
		@include _992 {
			padding-bottom: 8rem;
		}
	}
}

.wrapper {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;

	&__decor {

		&:nth-child(1) {
			left: 0; top: 0;
			transform: translate(-55%,-50%);
			@include _992 {
				transform: translate(-50%,-40%);
			}
		}

		&:nth-child(2) {
			right: 0; left: auto; top: 14.25rem;
			transform: translate(20%,0%);
		}
	}
}

section.disabled-container:not(.container) {
	padding-left: 0; padding-right: 0;
}

header, section, footer {

	padding: 0 var(--container-padding);
	
	@media (min-width: #{$containerMin}px) {
		
		padding: 0 max(var(--container-padding), calc(50% - #{math.div(105, 2)}rem));

		&.is-min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
		}
	}

	@media (min-width: 1500px) {
		padding: 0 max(var(--container-padding), calc(50% - #{math.div(95, 2)}rem));

		&.is-min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
		}
	}
}

.container {

	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	
	@media (min-width: #{$containerMin}px) {
		
		padding-left: max(var(--container-padding), calc(50% - #{math.div(105, 2)}rem));
		padding-right: max(var(--container-padding), calc(50% - #{math.div(105, 2)}rem));

		&.is-min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
		}
	}

	@media (min-width: 1500px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div(95, 2)}rem));
		padding-right: max(var(--container-padding), calc(50% - #{math.div(95, 2)}rem));

		&.is-min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
		}
	}
}

.button {
	cursor: pointer;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.625rem;

	text-align: center;
	
	padding: 1.0938rem 1.5rem;
	font-size: 1.1875rem;
	line-height: 1;
	border: 0.0625rem solid var(--accent);

	@include _550 {
		padding: 1.0938rem 3.875rem;
	}

	&.is-transparent {

		background: transparent;
		color: var(--text-color);
		border-color: var(--secondary-2);

		@media (any-hover: hover) {
			&:hover {
				background: var(--accent);
				border-color: var(--accent);
				color: var(--white);
			}
			
			&:active {
				background: var(--accent-active);
				border-color: var(--accent-active);
				color: var(--white);
			}
		}
	}

	&.is-accent-transparent {
		background: transparent;
		color: var(--accent);
		border-color: var(--accent);
	}

	&.is-min {
		gap: 0.375rem;
		font-size: 1rem;
		padding: 0.8438rem 1.4375rem;
	}

	&.is-light {
		background: var(--white);
		color: var(--accent);

		@media (any-hover: hover) {

			&:hover {
				color: var(--accent);
				background: #ededed;
				border-color: #ededed;
			}
			
			&:active {
				transition: background .3s ease, color .3s ease, border-color .3s ease;
	
				color: var(--accent);
				background: #dcdcdc;
				border-color: #dcdcdc;
			}
		}
	}

	background: var(--accent);
	color: var(--white);

	border-radius: 0.4375rem;

	transition: background .2s ease, color .2s ease, border-color .2s ease;

	@media (any-hover: hover) {

		&:hover {
			color: var(--white);
			background: var(--accent-hover);
			border-color: var(--accent-hover);
		}
		
		&:active {
			transition: background .3s ease, color .3s ease, border-color .3s ease;

			color: var(--white);
			background: var(--accent-active);
			border-color: var(--accent-active);
		}
	}
}

.visually-hidden {
	position: absolute;
	width: 0.0625rem; height: 0.0625rem;
	margin: -0.0625rem; padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visible-on-mob {
	@include _992 {
		display: none !important;
	}
}

.visible-on-desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

.decor-circle {

	display: none;

	@supports (aspect-ratio: 1) {
		display: block;

		position: absolute;
		width: 30.875rem; aspect-ratio: 1;
		border-radius: 50%;
		opacity: .09;

		@include _992 {
			width: min(67.75rem, 60vw);
		}

		&::before {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			border: 4rem solid transparent;
			@include _992 {
				border: min(7rem, 5.833333vw) solid transparent;
			}
			border-radius: 50%;
			background: linear-gradient(200deg, #2D6AFF 0%, #2D6AFF00 100%) border-box;
			-webkit-mask:
				linear-gradient(#fff 0 0) padding-box, 
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
		}

		&.is-mode-2::before {
			background: linear-gradient(200deg, rgba(194, 194, 194, 1) 0%, rgba(171, 171, 171, 0) 100%) border-box;
		}

		&.is-mode-3 {
			@include _992 {
				width: min(32.5625rem, 30vw);
			}
		}

		&.is-mode-3::before {
			@include _992 {
				border: min(7.4375rem, 5.833333vw) solid transparent;
			}
			background: linear-gradient(200deg, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 100%) border-box;
		}
	}
	
}

[aria-hidden="true"] {
	pointer-events: none; user-select: none;
}

.splide__arrow--prev svg {
	transform: none;
}

.splide__arrow:focus-visible {
	outline: none;
}

.slider_arrow {
	&.splide__arrow:hover:not(:disabled) {
		opacity: 1;
	}

	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 2.875rem; height: 2.875rem;

	//background: var(--white);
	color: var(--accent);
	
	border-radius: 0.25rem;

	&.splide__arrow--prev {
		transform: translate(-50%,-50%);
		@include _992 {
			transform: translate(-50%,-50%);
		}

		@media (min-width: 1200px) {
			transform: translate(-90%,-50%);
		}
	}

	&.splide__arrow--next {
		transform: translate(50%,-50%);
		@media (min-width: 1200px) {
			transform: translate(90%,-50%);
		}
	}

	svg {
		position: relative;
		z-index: 3;
	}

	z-index: 2;

	opacity: 1;

	&:hover:not(:disabled) {
		opacity: 1;
	}

	@media (any-hover: hover) {
		
		transition: background .3s ease, color .2s ease;

		&:hover:not(:disabled) {
			//background: var(--accent);
			color: var(--white);
			&::after {
				background: var(--accent);
			}
		}
	
		&:active:not(:disabled) {
			//background: var(--accent-active);
			color: var(--white);
			&::after {
				background: var(--accent-active);
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 50%; top: 50%;
		width: calc(100% + 0.5rem); height: calc(100% + 0.5rem);
		transform: translate(-50%,-50%);
		background: rgba(255, 255, 255, 0.65);
		border-radius: 0.25rem;
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		left: 50%; top: 50%;
		width: 100%; height: 100%;
		transform: translate(-50%,-50%);
		background: var(--white);
		border-radius: 0.25rem;
		z-index: 1;
		transition: background .3s ease, color .2s ease;
		box-shadow: 0px 0px 0.6188rem rgba(0, 0, 0, 0.25);
		//z-index: -1;
	}
}
