@import "mixin";

.header__nav_add_list {
	white-space: nowrap;
}

.header__nav_sub_list {
	display: none;
	@include _992 {
		display: block;

		position: absolute;
		left: 0; top: 9rem;

		padding-top: 3.75rem; padding-bottom: 3.75rem;
		padding-left: max(50% - 47.5rem); padding-right: max(50% - 47.5rem);

		overflow: visible;

		opacity: 0; visibility: hidden;
		transition: opacity .3s, visibility .3s, padding-top .3s, padding-bottom .3s;
	}			

	background: #F2F2F2;

	width: 100%;

	padding-top: 0; padding-bottom: 0;
	padding-left: 1rem; padding-right: 1rem;

	overflow: hidden;

	z-index: 4;

	&.is-active {
		opacity: 1; visibility: visible;
	}

	a {
		display: flex;
		align-items: center;
		gap: 1rem;

		font-weight: 600;
		font-size: 1rem;
		line-height: 150%;
		color: var(--black);

		padding-top: 0.4688rem; padding-bottom: 0.4688rem;

		@media (any-hover: hover) {

			transition: color .15s;

			&:hover {
				color: var(--accent);
			}
		
			&:active {
				color: var(--accent-active);
			}
		}

		img {
			width: 2.8125rem; height: 2.8125rem;
		}
	}
}

@import 'pages/vpn/advantages';
@import 'pages/vpn/banner';
@import 'pages/vpn/servers';
@import 'pages/vpn/devices';
@import 'pages/vpn/truly';
@import 'pages/vpn/why-choose';

@import 'pages/scrape-google/advantages';
@import 'pages/scrape-google/challenging-targets';
@import 'pages/scrape-google/explore-proxies';

@import 'pages/oxylabs/main';

@import 'pages/isp/main';

@import 'pages/unblocker/main';

@import 'pages/proxy/main';
