.account_balance {

	margin-top: 1.375rem;

	display: flex;

	background: #F3F5FB;
	border-radius: 0.875rem;

	// .account_balance__value

	&__value {
		width: 11.375rem; min-height: 9.3125rem;
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;

		text-align: center;

		background: var(--accent);
		box-shadow: 0px 0.25rem 0.9063rem rgba(45, 60, 138, 0.16);
		border-radius: 0.875rem 0px 0px 0.875rem;
		color: var(--white);

		strong {
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 100%;

			display: block;
			padding-bottom: 0.4375rem;
		}

		svg {
			position: absolute;
			left: 50%; top: 50%;
			transform: translate(-50%,-65%);
			width: 75%; height: 75%;
			color: var(--white);
			opacity: .17;
		}
	}

	// .account_balance__label

	&__label {
		display: flex;
		align-items: center;
		
		//flex: 1 1;

		padding: 1.9375rem;

		input {
			min-width: 20.375rem; min-height: 3.5rem;
			padding: 1.1875rem;
			border-radius: 0.4375rem;

			font-weight: 500;
			&::placeholder {
				color: #838383;
			}
		}
	}

	// .account_balance__paymethod

	&__paymethod {
		flex: 1 1;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;

		padding-right: 2.4375rem;

		li {
			width: 7.75rem; height: 5rem;
			background: var(--white);
			border-radius: 0.6875rem;

			img {
				width: 7.75rem; height: 5rem;
			}
		}
	}

	// .account_balance__button

	&__button {
		align-self: center;
		margin-right: 2.0625rem;
	}
}

