.account_block {

	padding-left: 1rem; padding-right: 1rem;
	@include _992 {
		padding-left: 0; padding-right: 0;
	}

	&.is-fill-height {
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;
	}

	// .account_block__title

	&__title {
		margin-bottom: 1.375rem; margin-top: 1.1875rem;

		font-weight: 700;
		font-size: 1.5rem;
		line-height: 134%;
		color: var(--text-color-4);

		@include _992 {
			font-size: 2rem;
			margin-bottom: 1.5rem; margin-top: 3.6875rem;
		}
	}
	
	// .account_block__min_title

	&__min_title {
		font-weight: 700;
		font-size: 1rem;
		line-height: 179%;

		@include _992 {
			font-size: 1.5rem;
		}

		color: #121A2F;
	}

	&__nav {

		margin-bottom: 1.375rem; margin-top: 3.6875rem;
		
		display: flex;
		align-items: center;

		gap: 1.25rem 2rem;

		&.tabs_nav ul {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__nav &__title {
		margin-top: 0; margin-bottom: 0;
	}

	// .account_block__body

	&__body {
		flex: 1 1 auto;

		border-radius: 0.875rem;
		background: #F3F5FB;

		@include _992 {
			padding: 2.0625rem;
			padding: 1rem 1.5rem;
		}

		&:not(:nth-child(2)) {
			margin-top: 0.75rem;
			@include _992 {
				margin-top: 1.375rem;
			}
		}
	}

	// .account_block__plans

	&__plans {
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 0.6875rem;

		@include _992 {
			flex-direction: row;
			gap: 1rem;
		}
	}
}
