

.create_proxy {

	.account_block__min_title {
		padding: 1rem 1.5rem 0;
		@include _992 {
			padding: 0;
		}
	}

	// .create_proxy__fieldset

	&__fieldset {
		display: grid;
		
		@include _768 {
			grid-template-columns: 1fr 1fr;
		}

		@include _992 {
			grid-template-columns: repeat(3,1fr);
			padding-left: 0; padding-right: 0;
		}

		padding-left: 1.5rem; padding-right: 1.5rem;

		&.is-auto {
			display: flex;
			flex-wrap: wrap;
		}

		gap: 1.5rem;

		padding-bottom: 2.25rem;
		&:nth-child(2) {
			padding-top: 1.0625rem;
		}

		&:not(:nth-child(2)) {
			padding-top: 1.625rem; padding-bottom: 2.25rem;

			border-top: 0.0625rem solid #DCE0EC;
		}
	}

	&__fieldset.is-auto &__field {
		flex: 1 1 auto;
		min-width: calc(33.333% - 1.5rem);
	}

	// .create_proxy__field

	&__field {
		/* flex: 1 1 auto;
		min-width: calc(33.333% - 1.5rem); */
	}

	// .create_proxy__footer

	&__footer {
		padding: 0 1.5rem 3rem;

		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;

		@include _992 {
			padding: 0.9375rem 0 0;
		}

		> * {
			min-width: 100%;
			@include _992 {
				min-width: 20.0625rem;
			}
		}
	}
}
