.account_documents {

	// .account_documents__title

	&__title {
	}

	// .account_documents__nav

	&__nav {
		padding-top: 0.9375rem;
	}

	// .account_documents__inner

	&__inner {
	}

	// .account_documents__block

	&__block {
		h3 {
			padding-top: 3rem;

			font-weight: 700;
			font-size: 1.25rem;
			line-height: 134%;
			color: #121A2F;

			@include _992 {
				font-size: 2rem;
			}
		}

		p {
			padding-top: 1rem;

			color: #828282;
			line-height: 164.285714%;
			font-size: 0.875rem;

			@include _992 {
				line-height: 197%;
				font-size: 1rem;
			}
		}
	}
}

