.account_form {

	// .account_form__title

	&__title {
		padding: 1rem 1.1875rem 0;
	}

	// .account_form__inner

	&__inner {
		padding: 1.1875rem 1.1875rem 0;
		
		display: grid;
		gap: 1.5rem;

		@include _768 {
			grid-template-columns: 1fr 1fr;
		}

		@include _992 {
			grid-template-columns: repeat(3,1fr);
			padding: 1.1875rem 0 0;
		}
	}

	// .account_form__field

	&__field {
	}

	// .account_form__submit

	&__submit {
		
		//min-width: calc(100% - 1.1875rem - 1.1875rem);
		min-width: 11.375rem;
		margin: 1.8125rem 1.1875rem 1.9375rem;

		@include _992 {
			min-width: 11.375rem;
			margin: 1.1875rem 0 0;
		}
	}
}
