.account_header {

	padding-left: 1.75rem; padding-right: 1.75rem;
	padding-top: 1.1875rem; padding-bottom: 1.1875rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1.875rem;

	background: #F3F5FB;
	border-radius: 0.875rem;

	z-index: 2;

	// .account_header__col

	&__col {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&:nth-child(1) {
			gap: 2rem;
		}
	}

	// .account_header__api_key

	&__api_key {
		font-weight: 500;
		
		display: flex;
		flex-wrap: wrap;
		gap: 0.3125rem;

		mark {
			background: transparent;
			color: var(--accent);
		}
	}

	// .account_header__nav

	&__nav {
		a {
			display: flex;
			align-items: center;
			gap: 0.625rem;

			color: var(--text-color);

			svg {
				flex: 0 0 1.875rem;
				color: var(--accent);
			}

			@media (any-hover: hover) {
				transition: color .2s ease;

				&:hover {
					color: var(--accent);
				}
			
				&:active {
					color: var(--accent-active);
				}
			}
		}
	}

	// .account_header__info

	&__info {
		li {
			display: flex;
			align-items: center;
			gap: 0.625rem;

			color: var(--text-color);
			white-space: nowrap;

			svg {
				flex: 0 0 1.875rem;
				color: var(--accent);
			}
		}
	}

	// .account_header__logout

	&__logout {
		display: grid;
		grid-template-columns: auto 2.1875rem;
		align-items: center;

		gap: 0 1.1875rem;

		margin-left: 0.875rem; padding-left: 0.875rem;
		border-left: 0.0625rem solid #AEB6CD;

		span {
			max-width: 9.375rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		color: #AEB6CD;

		@media (any-hover: hover) {
			transition: color .2s ease;
			&:hover {
				color: var(--text-color);
			}
		
			&:active {
				color: var(--accent-active);
			}
		}

		svg {
			flex: 0 0 2.1875rem;
		}
	}
}
