.account_wrapper {
	position: relative;

	display: grid;
	min-height: 100%;

	overflow: hidden;

	@include _992 {

		display: grid;
		grid-template-columns: 17.875rem auto;
	}
}

.account_decor {
	position: absolute;
	right: 0; bottom: 0;
	transform: translate(40%,80%);
}

.account_main {
	padding: 0 0 2.1875rem;

	display: flex;
	flex-direction: column;

	height: 100vh;
	overflow-y: auto;

	@media (any-hover: hover) {
		&::-webkit-scrollbar {
			background: var(--white);
		}
	
		&::-webkit-scrollbar-track {
			padding: 2px;
		}
	
		&::-webkit-scrollbar-thumb {
			background: var(--secondary-2);
			border-radius: 10px;
			border: 4px solid var(--white);
		}
	}
	
	@include _992 {
		height: 100vh; height: 100svh;
		
		padding: 2.625rem 1rem 2.625rem 1rem;
	}

	@media (min-width: 1200px) {
		padding: 2.625rem 3.375rem 2.625rem 3.3125rem;
	}
}

.horizontal-scrollbar {
	.simplebar-track.simplebar-horizontal {
		width: calc(100vw - 2rem);
		margin: 0 1rem;

		@include _992 {
			width: auto;
		}

		background: #F3F5FB;
	}
}

.horizontal-scrollbar .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
	&::before {
		left: 0; top: 0;
		right: 0; bottom: 0;
		
		background: var(--accent);
		opacity: 1;
	}
}

.form_field {
	
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	> span {
		font-size: 1.125rem;
		line-height: 150%;
		color: #393939;
	}

	> input {
		padding: 1.1563rem 1.1875rem;
		border-radius: 0.4375rem;

		font-weight: 500;
		&::placeholder {
			color: #838383;
		}
	}
}

.custom_select {
	min-height: 3.5rem;
	padding: 0;
	border: 0;

	.ss-values {
		height: 3.5rem;
		padding: 0 0.5rem;
		overflow-y: auto;
	}

	&.is-min {
		min-height: 2.125rem;
		.ss-values {
			height: 2.125rem;
			padding: 0 0.5rem 0 0.125rem;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__all {
		position: absolute;
		right: 3rem; top: 50%;
		transform: translate(0,-50%);

		padding: 0.375rem 0.8125rem;

		background: var(--accent);
		color: var(--white);

		border-radius: 0.25rem;
		
		opacity: 0; visibility: hidden;
		transition: opacity .3s ease, visibility .3s ease, right .3s ease;

		&.is-selected {
			right: 4rem;
		}
	}

	--ss-spacing-s: 1.1875rem;
	--ss-spacing-m: 0.4375rem;
	--ss-focus-color: transparent;
	--ss-primary-color: var(--accent);

	&.is-min {
		--ss-spacing-s: 0.35rem;
		--ss-spacing-m: 0.125rem;

		.ss-single {
			color: #000;
		}
	}

	&.ss-main .ss-values .ss-placeholder {
		padding: 0 1.1875rem;
		color: #838383;
		font-weight: 500;
	}

	&.ss-main .ss-values .ss-value {
		align-self: center;
	}

	&.ss-main .ss-deselect svg path {
		stroke: var(--accent);
	}

	&.ss-main .ss-values .ss-value .ss-value-text {
		padding: 0.375rem 0.8125rem;
		line-height: 133%;
		font-size: 0.875rem;
	}

	&.ss-main .ss-values .ss-value .ss-value-delete {
		padding: 0.3125rem;
	}

	.ss-single {
		font-weight: 500;
		font-size: 1rem;
		line-height: 150%;

		color: #838383;
	}

	&.ss-main .ss-arrow path {
		stroke: var(--accent);
	}

	&.ss-main .ss-arrow {
		margin-right: 1rem;
	}
}

.custom_select.ss-open-above + .custom_select__all, .custom_select.ss-open-below + .custom_select__all {
	opacity: 1; visibility: visible;
}

.custom_select.ss-content .ss-list .ss-option:not(.ss-selected):hover {
	background: var(--accent-hover);
}
