.tabs_wrapper {
}

.tabs_nav {

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include _992 {
		align-items: center;
		flex-direction: row;
		//flex-wrap: wrap;
	}

	&__block {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;

		@include _992 {
			width: auto;
			flex-direction: row;
		}
	}

	&__target {

		cursor: pointer;
		position: relative;
		width: 100%;

		display: flex;
		align-items: center;

		font-size: 1rem;
		font-weight: 500;
		line-height: 150%;
		color: var(--accent);
		text-align: center;

		padding: 1rem 2rem;
		display: block;

		background: #F3F5FB;
		border-radius: 0.875rem;

		border: 0.1875rem solid var(--accent);

		transition: color .2s ease, border-color .2s ease, border-radius .2s ease;

		svg {
			position: absolute;
			right: 0.625rem; top: 50%;
			transform: translate(0,-50%);
		}

		/* @media (any-hover: hover) {

			&:not(.is-active):hover {
				color: var(--accent);
			}
		
			&:not(.is-active):active {
				color: var(--accent-active);
			}
		} */

		@include _992 {
			display: none;
		}
	}

	&__list {

		position: absolute;
		left: 0; top: 100%;
		transform: translate(0,-0.1875rem);
		width: 100%;

		z-index: 2;

		border: 0.1875rem solid var(--accent);
		border-top: 0;

		@include _992 {
			position: static;

			display: inline-grid;
			grid-template-columns: repeat(5,1fr);
			gap: 1.6875rem;

			padding: 0;
			border: 0;
			border-radius: 0;
		}

		display: flex;
		flex-direction: column;

		max-height: 15.625rem;
		overflow-y: auto;

		@include _992 {
			max-height: none;
			flex-direction: row;
		}

		background: var(--white);
		padding: 0.5rem 0 1.5rem;

		li {
			padding: 0 1rem;
			@include _992 {
				padding: 0;
			}
		}

		transition: border-radius .2s ease;

		a {
			margin-top: 1rem;
			@include _992 {
				margin-top: 0;
				display: block;
			}

			font-size: 1rem;
			line-height: 150%;
			color: #8A94B4;
			text-align: center;

			padding: 1rem;
			display: block;

			background: #F3F5FB;
			border-radius: 0.875rem;

			border: 0.1875rem solid #F3F5FB;

			transition: color .2s ease, border-color .2s ease;

			@media (any-hover: hover) {

				&:not(.is-active):hover {
					color: var(--accent);
				}
			
				&:not(.is-active):active {
					color: var(--accent-active);
				}
			}

			&.is-active {
				color: var(--accent);
				border-color: var(--accent);

				display: none;
				@include _992 {
					display: block;
				}
			}
		}

		animation: fadeOut var(--anim-speed,0.3s) ease 0s 1 normal forwards;
		@include _992 {
			animation-name: none;
		}
	}

	&__block.is-active &__list {
		animation: fadeIn var(--anim-speed,0.3s) ease 0s 1 normal forwards;
		border-radius: 0 0 0.875rem 0.875rem;
	}
	
	&__block.is-active &__target {
		border-radius: 0.875rem 0.875rem 0 0;
		border-bottom-color: transparent;
	}
}

.tabs_inner {
}

.tabs_block {

	display: none;
	opacity: 0; visibility: hidden;
	transition: opacity .3s ease, visibility .3s ease;

	

	&.is-active {
		display: block;
	}

	&.is-visible {
		opacity: 1; visibility: visible;
	}
}