.account_block__tariffs .pricing__card_body {
	background: linear-gradient(190.25deg, #FFFFFF -12.07%, rgba(255, 255, 255, 0) 92.34%), #F3F5FB;
	border: 0.0625rem solid rgba(45,106,255,0.22);
}

.account_block__tariffs .pricing__list {
	align-items: stretch;
}
