.proxy-thanks {

	padding-top: 3.1875rem;
	text-align: center;

	&:last-child {
		padding-bottom: 4.25rem;
	}

	// .proxy-thanks__decor

	&__decor {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		gap: 1.0625rem;

		&::before {
			content: "";
			display: inline-block;

			background: var(--accent-gradient);
			border-radius: 50%;

			width: 2.3125rem; height: 2.3125rem;
		}

		&::after {
			content: "";
			display: inline-block;

			background: var(--accent-gradient);
			border-radius: 50%;

			width: 1.125rem; height: 1.125rem;
		}
	}

	// .proxy-thanks__title

	&__title {
		padding-top: 0.875rem;
	}

	// .proxy-thanks__text

	&__text {
		font-size: 0.875rem;
		line-height: 157.142857%;
		color: #4F5C65;

		padding-top: 0.875rem;
	}
}
