.pricing {

	// .pricing__title

	&__title {
	}

	// .pricing__slider

	&__slider {
		margin-top: 1.75rem;

		padding-right: 2.5rem;

		@include _550 {
			padding-right: 5rem;
		}

		@include _992 {
			padding-right: 0;
		}
	}

	// .pricing__track

	&__track {
		&.splide__track {
			overflow: visible;
		}
	}

	// .pricing__list

	&__list {
		&.splide__list {
			display: flex;
			align-items: center;
		}
	}

	// .pricing__card

	&__card {
		
		border-radius: 1.3125rem;

		&.is-accent {
			box-shadow: 0px 21px 40.5px rgba(10, 48, 84, 0.25);
		}
		
	}

	&__card.is-accent & {
		
		&__card_body {
			border: 0.25rem solid #BC2DFF;
			background: var(--white);

			padding: 2.75rem 1.25rem;
			@include _550 {
				padding: 2.75rem 1.9375rem;
			}
		}

		&__card_name {
			padding-top: 0;
		}

		&__card_text {
			padding-top: 0;
		}

		&__card_params li {
			border-color: #F3F5FB;
		}

		&__card_button {
			margin-top: 3rem;
			@include _550 {
				margin-top: 4.9375rem;
			}
		}
	}

	// .pricing__card_body

	&__card_body {
		position: relative;
		padding: 1.25rem;

		@include _550 {
			padding: 1.9375rem;
		}

		border-radius: 1.3125rem;

		background: linear-gradient(190.25deg, rgba(32, 121, 255, 0.2) -12.07%, rgba(66, 70, 209, 0) 92.34%), #F3F5FB;
		overflow: hidden;
		
	}

	// .pricing__card_label

	&__card_label {
		position: absolute;
		left: 0; top: 0;
		background: #BC2DFF;

		font-size: 0.875rem;
		line-height: 142.857143%;
		font-weight: 700;
		color: var(--white);

		transform: rotate(-37deg) translate(-25%,10%);

		padding: 0.3125rem 3rem;
	}

	// .pricing__card_name

	&__card_name {
		text-align: center;
		padding-top: 0.3125rem;

		color: #020202;
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 138.461538%;
		letter-spacing: 0.0325rem;
	}

	// .pricing__card_text

	&__card_text {

		font-size: 1.0625rem;
		line-height: 164.705882%;
		text-align: center;

		max-width: 13.75rem;
		margin: 0 auto;
	}

	// .pricing__card_price

	&__card_price {
		margin-top: 1.0625rem;

		text-align: center;

		strong {
			color: var(--accent);
			font-size: 2.5rem;
			line-height: 125%;
			letter-spacing: 0.025rem;
		}
	}

	// .pricing__card_params

	&__card_params {

		padding-top: 0.75rem;
		min-height: 18.75rem;

		li {
			padding: 0.7rem 0;

			display: flex;
			align-items: center;
			gap: 0.5rem;

			border-bottom: 0.125rem solid var(--white);

			font-size: 0.875rem;
			line-height: 117.647059%;

			@include _550 {
				font-size: 1.0625rem;
				gap: 0.75rem;
			}
			
			svg {
				flex: 0 0 1.5rem; width: 1.5rem; height: 1.5rem;
				@include _550 {
					flex: 0 0 1.625rem; width: 1.625rem; height: 1.625rem;
				}

				color: var(--accent);
			}
		}
	}

	// .pricing__card_button

	&__card_button {
		margin-top: 2rem;
		width: 100%;

		@include _550 {
			margin-top: 2.8125rem;
		}
	}
}

@import 'statistic';
@import 'geo';
