.truly-vpn {


	

	padding-top: 3.5rem; padding-bottom: 4rem;

	@include _992 {
		display: grid;
		align-items: center;
		gap: 6.375rem;
		grid-template-columns: 1fr 1fr;
		padding-top: 1.25rem; padding-bottom: 1.25rem;
	}

	// .truly-vpn__image

	&__image {
		
	}

	// .truly-vpn__content

	&__content {
	}

	// .truly-vpn__title

	&__title {
		@include _992 {
			text-align: start;
		}
	}

	// .truly-vpn__text

	&__text {
		padding-top: 0.5rem;

		color: var(--text-color-3);
		line-height: 175%;

		text-align: center;
		
		@include _992 {
			max-width: 35.625rem;
			text-align: start;
		}
	}

	// .truly-vpn__cards

	&__cards {
		margin-top: 2rem;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.75rem 1rem;

		@include _992 {
			max-width: 37.5rem;
		}

		li {

			background: rgba(45, 106, 255, 0.17);
			border-radius: 1.375rem;

			padding: 1rem;
			@include _550 {
				padding: 1rem 1.875rem 1rem;
			}

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			span {
				display: block;
				line-height: 150%;
				color: var(--text-color-4);	
			}

			strong {
				display: block;
				font-weight: 600;
				font-size: 1.75rem;
				line-height: 115%;
				color: var(--accent);

				margin-top: 1rem;

				@include _550 {
					font-size: 3rem;
				}
			}
			
			img {
				margin-top: 1rem;

				width: 3rem; height: 3rem;
				object-fit: contain;

				@include _550 {
					width: 3.75rem; height: 3.75rem;
				}
			}
		}
	}
}
