.advantages {

	padding-top: 22px;

	@include _992 {
		padding-top: 78px;
	}

	// .advantages__title

	&__title {
	}

	// .advantages__list

	&__list {
		padding-top: 20px;

		display: grid;

		gap: 34px 0;

		@include _550 {
			padding-top: 40px;

			grid-template-columns: repeat(12,1fr);

			gap: 55px 20px;
		}

		li {
			

			max-width: 365px;
			text-align: center;

			color: var(--text-color-2);
			justify-self: center;
			
			@include _550 {
				grid-column: 6 span;

				&:nth-child(odd) {
					justify-self: start;
				}
	
				&:nth-child(even) {
					justify-self: self-end;
				}
			}

			/* &:nth-child(2), &:nth-child(event) {
				justify-self: self-end;
			} */

			@include _992 {

				&:nth-child(odd) {
					justify-self: center;
				}
	
				&:nth-child(even) {
					justify-self: center;
				}

				justify-self: center;
				grid-column: 4 span;

				&:nth-child(1), &:nth-child(3n + 4) {
					justify-self: start;
				}
	
				&:nth-child(3), &:nth-child(3n + 3) {
					justify-self: end;
				}
	
				&:nth-child(3n + 4):last-child {
					grid-column: 12 span;
					justify-self: center;
				}
	
				&:nth-child(3n + 5):last-child, &:nth-child(3n + 4):nth-last-child(2) {
					grid-column: 6 span;
					justify-self: center;
				}
			}

			h3 {
				padding-top: 10px;

				font-size: 1.25rem;
				line-height: 155%;
				font-weight: 700;
			}

			p {
				padding-top: 5px;
				line-height: 175%;
			}
		}
	}

	// .advantages__icon

	&__icon {
		margin-bottom: 7px;
	}
}
