.unblocker-hero {

	// .unblocker-hero__breadcrumbs

	&__breadcrumbs {
	}

	// .unblocker-hero__inner

	&__inner {
		position: relative;

		display: grid;
		align-items: center;
		gap: 1.375rem;

		background: linear-gradient(86.8deg, #2780E6 -38.13%, #781896 102.9%);

		min-height: 35.9375rem;

		padding-top: 2.1875rem; padding-bottom: 2.8125rem;

		@include _992 {
			grid-template-columns: 1fr 1fr;
			gap: 0;

			padding-top: 2.5rem; padding-bottom: 0;
		}

	}

	// .unblocker-hero__background

	&__background {
		position: absolute;
		left: 0; top: 0;

		display: none;

		background: center / cover no-repeat;
		
		width: 100%; height: 100%;

		@include _992 {
			display: block;
		}
	}

	// .unblocker-hero__content

	&__content {
		
		color: var(--white);

		max-width: 43.125rem;

		padding-bottom: 4rem;

		z-index: 2;

		@include _992 {
			grid-column: 1; grid-row: 1;

			padding-bottom: 5rem;
		}
	}

	// .unblocker-hero__title

	&__title {
	}

	// .unblocker-hero__text

	&__text {
		margin-top: 1.5rem;

		@include _550 {
			margin-top: 2.1875rem;
		}

		ul {

			li {
				display: flex;

				&:not(:first-child) {
					margin-top: 1rem;
				}
			}

			i {
				transform: translate(0,0.3125rem);

				display: inline-grid;
				place-items: center;

				background: var(--white);
				border-radius: 0.25rem;
				color: #455BCA;

				width: 1.0938rem; height: 1.0938rem; flex: 0 0 1.0938rem;

				margin-right: 0.9375rem;

				svg {
					width: 55%; height: 55%;
				}
			}

			font-size: 0.875rem;
			line-height: 150%;
			color: #FFFFFF;

			@include _550 {
				font-size: 1rem;
			}

			@include _992 {
				font-size: 1.25rem;
			}

		}
	}

	// .unblocker-hero__footer

	&__footer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 1.6875rem;

		margin-top: 2.5rem;
		
		@media (min-width: 360px) {
			padding: 0 2.5rem;
		}

		@include _550 {
			flex-direction: row;
			padding: 0;
		}
	}

	// .unblocker-hero__button

	&__button {
		width: 100%;
		@include _550 {
			width: auto;
		}
	}

	// .unblocker-hero__image

	&__image {
		position: relative;
		z-index: 2;

		text-align: center;

		@include _992 {
			text-align: end;
		}

		img {
			max-width: 38rem;
		}
	}

	// .unblocker-hero__advantages

	&__advantages {
		position: relative;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0;

		margin-top: -3.125rem;

		z-index: 2;

		@include _550 {
			gap: 1.5625rem;
		}
	}

	// .unblocker-hero__advantages-item

	&__advantages-item {

		display: block;

		background: var(--white);
		border-radius: 1rem;

		text-align: center;

		padding: 0.9375rem 1.6875rem;

		@include _550 {
			padding: 2.8125rem 2.5rem;
		}

		&:first-child {
			padding: 2.8125rem 1.6875rem 0.9375rem;
			
			@include _550 {
				padding: 2.8125rem 3.25rem;
			}
		}

		h3 {
			font-weight: 700;
			font-size: 1.125rem;
			line-height: 133%;
			text-align: center;
			color: #041E39;

			padding-top: 0.625rem;
		}

		p {
			font-size: 0.875rem;
			line-height: 160%;
			text-align: center;
			color: #4F5C65;

			padding-top: 0.625rem;
		}

		img {
			width: 3.75rem; height: 3.75rem;
		}

		@include _992 {
			flex: 0 0 calc(25% - 1.5625rem);
		}
	}

	&__note {
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 100%;
		text-align: center;
		color: #4F5C65;

		padding-top: 2rem;

		@include _992 {
			font-size: 1.5rem;
		}

		b, strong {
			font-weight: 600;
		}
	}
}
